In [35]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('labels.csv')
df.head(10)

   Unnamed: 0 Ticker Price_Present Price_Future Label
0           0      A         32.67        41.48     0
1           1      A         40.63        43.95     0
2           2      A         46.05        48.71     0
3           3      A          47.7        35.69     1
4           4      A         35.69        36.66     2
5           5      A         33.46        45.62     0
6           6      A         42.78        38.29     1
7           7      A         37.84        37.05     2
8           8      A         38.42        37.81     2
9           9      A         41.36         42.7     0

In [58]:
df.shape

(63547, 5)

In [64]:
X = df.drop(columns=['Ticker', 'Price_Future', 'Unnamed: 0'])
X.sample(5)

      Price_Present Label
41530        922.25     0
9337           2.35     1
55049        216.88     0
35884          38.6     1
61790         57.05     1

In [65]:
X.shape

(63547, 2)

In [62]:
#X = X.apply(pd.to_numeric, errors='coerce')
#X = X.dropna()

In [63]:
#X.head()

In [66]:
Y = df['Price_Future'].values
Y

array(['41.48', '43.95', '48.71', ..., 'ZYXI', 'ZYXI', 'ZYXI'],
      dtype=object)

# **Split the dataset into train and test data**

In [67]:
from sklearn.model_selection import train_test_split

In [73]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

ValueError: ignored